apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: traefik
  namespace: traefik
spec:
  type: oci
  url: oci://ghcr.io/traefik/helm
  interval: 6h
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik
  namespace: traefik
spec:
  dependsOn:
    - name: metallb
      namespace: metallb-system
  interval: 30m
  chart:
    spec:
      chart: traefik
      version: 38.0.1
      sourceRef:
        kind: HelmRepository
        name: traefik
        namespace: traefik
      interval: 6h
  valuesFrom:
    - kind: ConfigMap
      name: traefik-helm-values
