apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: paperless-ngx-backup
  labels:
    app: paperless-ngx
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
