namespace: cert-manager
resources:
  - namespace.yaml
  - helm.yaml
configMapGenerator:
  - name: cert-manager-helm-values
    files:
      - values.yaml
generatorOptions:
  disableNameSuffixHash: true
