apiVersion: v1
kind: Service
metadata:
  name: paperless-ngx
  labels:
    app: paperless-ngx
spec:
  ports:
    - name: http
      port: 8000
      targetPort: http
  selector:
    name: paperless-ngx
