grafana:
  operator:
    defaultDashboardsTimezone: Europe/Berlin
  admin:
    existingSecret: grafana-credentials
    userKey: admin-user
    passwordKey: admin-password
  ingress:
    enabled: true
    ingressClassName: traefik
    hosts:
      - grafana.beehive.lan64.de
    tls:
      - secretName: beehive.lan64.de

prometheus:
  prometheusSpec:
    storageSpec:
      volumeClaimTemplate:
        spec:
          accessModes: ["ReadWriteOnce"]
          resources:
            requests:
              storage: 5Gi
